.error-network {
  position: fixed;
  margin-top: auto;
  margin-bottom: auto;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  background-color: #1f634a99;

  width: inherit;

  z-index: 100;
}

.error-network__text {
  color: #fff;
  margin: 0 auto;
  font-size: 25px;
}

.error-network__status {
  color: red;
  margin: 0 auto;
  font-size: 40px;
}

.error-network__infoError {
  color: #fff;
  margin: 0 auto;
  font-size: 40px;
}
