.error-network {
  position: fixed;
  top: 50%;
  margin: 0 auto;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  background-color: #1f634a99;
  border-radius: 20px;
  border: 2px solid #000;

  width: inherit;

  z-index: 1000;
}

.error-network__text {
  color: #fff;
  margin: 0 auto;
  font-size: 25px;
}

.error-network__status {
  color: red;
  margin: 0 auto;
  font-size: 40px;
}

.error-network__infoError {
  color: #fff;
  margin: 0 auto;
  font-size: 40px;
}

.error-network__btn {
  margin: 0px 40% 10px;
  background-color: #000;
  color: #fff;
}
